.custom-header {
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .custom-header .logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ff5f15; 
    margin: 0;
  }
  
  .custom-header .search-form {
    width: 500px; 
  }
  
  .custom-header .search-input {
    border-radius: 25px 0 0 25px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 80%; 
  }
  
  .custom-header .search-button {
    border-radius: 0 25px 25px 0;
    background-color: #ff5f15;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .custom-header .search-button:hover {
    background-color: #ff5f15; 
  }
  
  .custom-header  {
    font-size: 16px;
  }
  
  .custom-header .nav-link {
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* .custom-header .nav-item:hover {
    border-bottom: 2px solid #fff;
  } */
  
  @media (max-width: 768px) {
    .custom-header .search-form {
      width: 60%; 
    }
  }

  .navbar{
    background: #ff7518;
  }
  
  .nav-link{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-family: "Lora", serif;
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .right-side span, a{
    color: #ff5f15;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon-container i {
    font-size: 2rem !important;
    color: #ff7518; 
  }
  
  .cart-badge {
    font-size: 0.8rem;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7518 !important;
    color: #fff !important;
    border-radius: 50%;
  }

  